<!DOCTYPE html>
<html>
    <head>
        <title>Ceridwen</title>
        <link rel="stylesheet" href="css/core.css" />
        <script src="scripts/index.js"></script>
    </head>
    <body onload="setup();">
        {% include "header.html" %}
        <input type="text" id="searchBox" value="{{search_term}}">
        <input type="button" id="searchButton" value="Search" onclick="search_button_click()">
        <div class="resultsWrapper">
            {% if search_results | length > 0 -%}
                {% for result in search_results -%}
                    <div class="searchResult">
                        <div class="searchResultTitle"><a href="{{result.url}}">{{result.title}}</a></div>
                        <div class="searchResultDescription">{{result.description}}</div>
                    </div>
                {% endfor -%}
            {% else -%}
                <div class="searchResult">
                    <h2 class="searchResultNothingFound">No results found</h2>
                </div>
            {%endif -%}
        </div>
    </body>
</html>